*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --base-unit: 4px;
  --color-text: rgb(13, 18, 27);
  --color-body: rgb(66, 69, 73);
  --color-divider: rgb(238, 241, 241);
  --focus-ring-width: calc(var(--base-unit) * 0.5);
  --focus-ring-offset: calc(var(--base-unit) * 0.5);
  --font-size-base: 0.8rem;
  --font-size-heading: 1rem;
  --space-1: calc(var(--base-unit) * 1);
  --space-2: calc(var(--base-unit) * 2);
  --space-3: calc(var(--base-unit) * 3);
  --space-4: calc(var(--base-unit) * 4);
  --space-6: calc(var(--base-unit) * 6);
  --space-8: calc(var(--base-unit) * 8);
}

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/montserrat-v31-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/montserrat-v31-latin-700.woff2") format("woff2");
}

body {
  color: var(--color-text);
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: var(--font-size-base);
  margin: 0;
}